{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'mypasswords/favicon.png' %}"/>
    <!-- Styles -->
    <link href="{% static 'mypasswords/styles.css' %}" rel="stylesheet">
    <!-- Head block -->
    {% block head %}{% endblock %}
    <!-- Title Block --> 
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar user-space">
            <a class="logo" href="{% url 'home' %}">My Passwords</a>
            <ul class="navbar-right">
                <li><a href="{% url 'passwords' %}">PASSWORDS</a></li>
                <li><a href="{% url 'notes' %}">NOTES</a></li>
                <li><a href="{% url 'generator' %}">GENERATOR</a></li>
                <li><a href="{% url 'logout' %}">LOG OUT</a></li>
            </ul>
        </nav>
    </header>
    <!-- Body Block --> 
    {% block body %}
    {% endblock %}
    <footer>
        <div class="logo">My Passwords</div>
        <span>2022</span>
    </footer>
</body>
</html>