{% extends "mypasswords/_layout.html" %}
{% load static %}

{% block head %}
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

{% block title %}My Passwords{% endblock title %}

{% block body %}
    <section class="generator">
        <h2>PASSWORD GENERATOR</h2>
        <div class="box-generator" id="generator">
        </div>
    </section>
    <script type="text/babel">

        const random = (min = 0, max = 1) => {
            return Math.floor(Math.random() * (max + 1 - min) + min)
        }
    
        const randomLower = () => {
            return String.fromCharCode(random(97, 122))
        }
    
        const randomUpper = () => {
            return String.fromCharCode(random(65, 90))
        }
    
        const randomSymbol = () => {
            const symbols = "~*$%@#^&!?*'-=/,.{}()[]<>"
            return symbols[random(0, symbols.length - 1)]
        }

        class App extends React.Component {   

            state = {
                password: "",
                passwordLength: 5,
                uppercase: true,
                lowercase: true,
                numbers: true,
                specialChars: true,
                errors: ""

            };

            random = (min = 0, max = 1) => {
                return Math.floor(Math.random() * (max + 1 - min) + min)
            }
        
            render() {
                return (
                    <>
                    <div class="form-generator" action="">
                        <div class="password-gerated">
                            <input type="text" value={this.state.password} onChange={this.handleChange('password')}/>
                            <button
                                onClick={() =>  navigator.clipboard.writeText(this.state.password)}
                                disabled={this.state.password.length < 1}
                                ><svg class="copy-img-pass" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3334 0.708333H2.83341C2.05425 0.708333 1.41675 1.34583 1.41675 2.125V12.0417H2.83341V2.125H11.3334V0.708333ZM13.4584 3.54167H5.66675C4.88758 3.54167 4.25008 4.17917 4.25008 4.95833V14.875C4.25008 15.6542 4.88758 16.2917 5.66675 16.2917H13.4584C14.2376 16.2917 14.8751 15.6542 14.8751 14.875V4.95833C14.8751 4.17917 14.2376 3.54167 13.4584 3.54167ZM13.4584 14.875H5.66675V4.95833H13.4584V14.875Z" fill="#414141"/>
                                </svg>
                            </button>
                        </div>
                        <div class="password-rules">
                            <div class="password-length">
                                <p>Length: {this.state.passwordLength} 
                                    <input 
                                        type="range" 
                                        max="40" 
                                        min="4" 
                                        step="1" 
                                        defaultValue={this.state.passwordLength}
                                        onChange={this.handleChange('passwordLength')}
                                    />
                                </p>
                            </div>
                            <div class="checkitem">
                                <p>
                                    <input 
                                        type="checkbox" 
                                        name="uppercase" 
                                        defaultChecked={this.state.uppercase}
                                        onChange={(e) => this.setState({ uppercase: e.target.checked})}
                                    />A-Z
                                </p>
                                <p>
                                    <input 
                                        type="checkbox" 
                                        name="lowercase" 
                                        defaultChecked={this.state.lowercase}
                                        onChange={(e) => this.setState({ lowercase: e.target.checked})}
                                    />a-z
                                </p>
                            </div>
                            <div class="checkitem">
                                <p>
                                    <input
                                        type="checkbox" 
                                        name="numbers" 
                                        defaultChecked={this.state.numbers}
                                        onChange={(e) => this.setState({ numbers: e.target.checked})}
                                    />0-9
                                </p>
                                <p>
                                    <input 
                                    type="checkbox" 
                                    name="specialchars" 
                                    defaultChecked={this.state.specialChars}
                                    onChange={(e) => this.setState({ specialChars: e.target.checked})}
                                    />Use Special Characters
                                </p>
                            </div>
                            <div>
                                {this.state.errors.length > 0 && <p class="error">{this.state.errors}</p>}
                            </div>
                            <div class="btn-generate"><button onClick={this.generatePassword}>Generate</button></div>
                        </div>
                    </div>   
                    </>
                );
            }

            generatePassword = () => {
                this.setState({ errors: "" })
                if (!this.state.uppercase && !this.state.lowercase && !this.state.numbers && !this.state.specialChars) {
                  return this.setState({ errors: "At least one character type must be selected" })
                } else if (this.state.passwordLength < 4 || this.state.passwordLength > 40 ) {
                  return this.setState({ errors: "Invalid password length" })
                } 

                let passwordGerated = ''
                for (let i = 0; i < this.state.passwordLength; i++) {
                  let choice = random(0, 3)
                  if (this.state.lowercase && choice === 0) {
                    passwordGerated += randomLower()
                  } else if (this.state.uppercase && choice === 1) {
                    passwordGerated += randomUpper()
                  } else if (this.state.specialChars && choice === 2) {
                    passwordGerated += randomSymbol()
                  } else if (this.state.numbers && choice === 3) {
                    passwordGerated += random(0, 9)
                  } else {
                    i--
                  }
                }
                this.setState({ password: passwordGerated })
            }
       
            handleChange(prop) {
                return (event) => {
                    this.setState({ [prop]: event.target.value })
                }
            }
        }

        ReactDOM.render(
            <App />,
            document.querySelector('#generator')
        );

    </script>
{% endblock body %}
