{% extends "mypasswords/_layout-index.html" %}
{% load static %}

{% block title %}My Passwords{% endblock title %}

{% block body %}
    <header>
        <nav class="navbar">
            <a class="logo" href="">My Passwords</a>
            <ul class="navbar-right">
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a class="active" href="{% url 'register' %}">REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <div class="index">
        <div class="text">
            <h1>FORGOT YOUR PASSWORD?</h1>
            <h2>Try My Passwords to store your passwords securely.</h2>
        </div>
        <img src="{% static 'mypasswords/img/homeimg.png' %}" alt="">
    </div>
    <div class="info">
        <h3>PASSWORD MANAGEMENT</h3>
        <div class="infoimgs">
            <div>
                <img src="{% static 'mypasswords/img/easyimg.png' %}" alt="">
                <h4>Easy</h4>
            </div>
            <div>
                <img src="{% static 'mypasswords/img/secureimg.png' %}" alt="">
                <h4>Secure</h4>
            </div>
        </div>
    </div>
{% endblock body %}
