{% extends "mypasswords/_layout.html" %}
{% load static %}

{% block head %}
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

{% block title %}My Passwords{% endblock title %}

{% block body %}
    <section class="content">
        <h2>NOTES - <span id="user">{{ user.username }}</h2>
        <div class="box-content" id="box-item">
        </div>
    </section>

    <script type="text/babel">

        class Note extends React.Component {
            state = {
                editMode: false,
                name: this.props.note.name,
                content: this.props.note.note
            }

            render() {
                return (
                    <div className="card">
                        <div className="info-img">
                            <img src="{% static 'mypasswords/img/notesicon.jpg' %}" alt=""/>
                        </div>
                        {this.state.editMode ? 
                            <>
                                <div className="info-item-note">
                                    <p 
                                        className="name"
                                        value={this.state.name}
                                        onChange={this.handleChange('name')}
                                    > <input type="text" name="" id="" value={this.state.name}/>
                                    </p>

                                    <p 
                                        className="note"
                                        value={this.state.content} 
                                        onChange={this.handleChange('content')}
                                    > <textarea rows="4" cols="40" value={this.state.content}></textarea>
                                    </p>
                                </div>
                                <div className="info-edit-remove">
                                    <p><button 
                                        className="btn-save" 
                                        onClick={this.handleSubmit}
                                        disabled={this.state.name.trim().replace(/(\r\n|\n|\r)/gm,"") === "" || this.state.content.trim().replace(/(\r\n|\n|\r)/gm,"") === "" ? true : false}
                                        >Save</button></p>
                                </div>
                            </> :
                            <>
                                <div className="info-item-note">
                                    <p className="name">{this.state.name}</p>
                                    <p className="note">{this.state.content}</p>
                                </div>
                                <div className="info-edit-remove">
                                    <p><button className="btn-edit-remove" onClick={this.handleEdit}><img src="{% static 'mypasswords/img/editicon.png' %}" alt=""/></button></p>
                                    <p><button className="btn-edit-remove" onClick={this.deleteData}><img src="{% static 'mypasswords/img/deleteicon.png' %}" alt=""/></button></p>
                                </div>
                            </>
                        }        
                    </div> 
                );
            }

            deleteData = () => {

                fetch(`api/notes/delete/${this.props.note.id}`, {
                    method: 'DELETE',
                })
                .then(res => res.json())
                .then(data => {console.log(data)})
                .catch(error => console.log(error));

                window.location.reload(false);
            }

            handleEdit = () => {
                this.setState({editMode: true})
            }
            
            handleChange(prop) {
                return (event) => {
                    this.setState({ [prop]: event.target.value })
                }
            }

            handleSubmit = (event) => {

                fetch(`api/notes/edit/${this.props.note.id}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        name: this.state.name,
                        content: this.state.content
                    })
                })
                .then(res => res.json())
                .then(data => {

                    console.log(data)
                    
                    this.setState({editMode: false})
                })
                .catch(error => console.log(error));

                event.preventDefault();
            }
        }

        class App extends React.Component {   
            
            state = {
                notes: [],
                inputText: ""
            };

            render() {
                if (this.state.notes.length != 0) {
                    return (
                        <>
                        <div class="search-new">
                            <input type="text" class="search" onChange={this.inputHandler('inputText')}/>
                            <a href="{% url 'new' %}" class="new-button">+NEW</a>
                        </div>
                        <div class="boarder-box">
                            {this.state.notes.filter((note) => {
                                if (this.state.inputText == "") {
                                    return note
                                }
                                else if (note.name.toLowerCase().includes(this.state.inputText.toLowerCase())) {
                                    return note
                                }
                             }).map((note) => (
                                <Note 
                                    key={note.id} 
                                    note={note} 
                                    username={this.props.username}
                                />
                            ))}
                        </div>
                        </>
                    );
                }
                else {
                    return (
                        <>
                        <div class="search-new">
                            <input type="text" class="search" onChange={this.inputHandler('inputText')}/>
                            <a href="{% url 'new' %}" class="new-button">+NEW</a>
                        </div>
                        <div class="empty">
                            <img src="{% static 'mypasswords/img/secureimg2.png' %}" alt=""/>
                            <h2>THERE IS NOTHING TO SHOW HERE</h2>
                        </div>
                        </>
                    );
                }
            }

            inputHandler(prop) {
                return (event) => {
                    this.setState({ [prop]: event.target.value.toLowerCase() })
                }
            }

            loadPage = () => {

                fetch(`api/notes`)
                .then(response => response.json())
                .then(data => {

                    console.log(data)

                    this.setState({notes: data.notes})
                })
                .catch(error => console.log(error));
            }

            componentDidMount() {
                this.loadPage();
            }
        }

        ReactDOM.render(
            <App
                username={
                    document.querySelector('#user') ? 
                    document.querySelector('#user').innerHTML : 
                    null
                }
            />,
            document.querySelector('#box-item')
        );

    </script>
{% endblock body %}
